# Nest

Prepares data for the Nest page

In [1]:
import os
from events import (
    load_event_data, filter_public_events, filter_by_project, prepare, save_files, count_wards
)
import ticket_helpers

Set output directory

In [2]:
OUT_DIR = '../../../../docs/metrics/events/nest/_data/events'

Read in event data and filter by **My LEEDS 2023** project.

The criteria are:

* project type is 'Produce (Signature)'
* event_type contains 'Public Event -'

It's then filtered by project_name is '10 - Melt'

In [3]:
data = (
  load_event_data()
    .pipe(filter_by_project, '10 - Melt')
  )
data

,actual_audience_size_number_of_participants_in_person,actual_audience_size_number_of_participants_online,airtable_id,end_date,event_name,event_type,event_unique_identifier,number_of_booked_participants,postcode_(from_venue),project_name,project_type,season,start_date,ticket_tailor_id,ward_(from_venue)
498,NaN,NaN,242,2023-04-06,R&D Workshop - Young People/Tech,['CLE - Youth Voice session'],10 - Melt: R&D Workshop - Young People/Tech,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-04-03,NaN,NaN
634,47.0,NaN,244,2023-04-30,NEST: Acting Intake Auditions,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: Acting Intake Auditions,NaN,NaN,10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-04-29,NaN,NaN
778,20.0,NaN,245,2023-06-03,NEST: Acting Intake May Course,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: Acting Intake May Course,NaN,['LS2 7UP'],10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-05-30,NaN,['Little London and Woodhouse']
817,50.0,NaN,1629,2023-06-11,NEST: Protagonist Auditions,['CLE - Skills and Talent session'],10 - Melt: NEST: Protagonist Auditions,NaN,['LS2 7UP'],10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-06-10,NaN,['Little London and Woodhouse']
964,11.0,NaN,1776,2023-07-06,NEST: Theatre Show Trip,"['CLE - Skills and Talent session', 'CLE - Par...",10 - Melt: NEST: Theatre Show Trip,NaN,['LS2 7UP'],10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-07-06,NaN,['Little London and Woodhouse']
982,7.0,NaN,243,2023-07-12,NEST: Protagonist Auditions 2nd Round,"['CLE - Skills and Talent session', 'CLE - Par...",10 - Melt: NEST: Protagonist Auditions 2nd Round,NaN,['LS10 1NE'],10 - Melt,Produce (Signature),['Season 1 - Awakening'],2023-07-12,NaN,['Hunslet and Riverside']
1004,29.0,NaN,625,2023-08-04,NEST: Acting Intake Course Compass Collective,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: Acting Intake Course Compass ...,NaN,['LS2 7BS'],10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-07-24,NaN,['Little London and Woodhouse']
1005,15.0,NaN,2031,2023-08-04,NEST: Acting Intake July Course 2,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: Acting Intake July Course 2,NaN,['LS2 7UP'],10 - Melt,Produce (Signature),NaN,2023-07-24,NaN,['Little London and Woodhouse']
1018,12.0,NaN,397,2023-08-04,NEST: Acting Intake July Course 1,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: Acting Intake July Course 1,NaN,['LS2 7UP'],10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-07-27,NaN,['Little London and Woodhouse']
1042,86.0,NaN,357,2023-08-13,Melt: Ensemble Rehearsals,['CLE - Youth Voice session'],10 - Melt: Melt: Ensemble Rehearsals,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-08-11,NaN,NaN
1050,NaN,NaN,251,2023-08-31,Core Cast Rehearsals,['CLE - Youth Voice session'],10 - Melt: Core Cast Rehearsals,NaN,NaN,10 - Melt,Produce (Signature),['Season 2 - Playing'],2023-08-16,NaN,NaN
1051,86.0,NaN,356,2023-08-20,MELT Ensemble Rehearsals,['CLE - Youth Voice session'],10 - Melt: MELT Ensemble Rehearsals,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-08-18,NaN,NaN
1063,86.0,NaN,358,2023-08-27,MELT Ensemble Rehearsals,['CLE - Youth Voice session'],10 - Melt: MELT Ensemble Rehearsals,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-08-25,NaN,NaN
1069,4.0,NaN,2034,2023-09-08,NEST: Assistant Costume Team,"['CLE - Skills and Talent session', 'CLE - Par...",10 - Melt: NEST: Assistant Costume Team,NaN,['LS26 8AL'],10 - Melt,Produce (Signature),NaN,2023-08-29,NaN,['Garforth and Swillington']
1070,6.0,NaN,2033,2023-09-09,NEST: NYT Backstage Assistant Stage Managers,['CLE - Participant / Volunteer thank you even...,10 - Melt: NEST: NYT Backstage Assistant Stage...,NaN,['LS26 8AL'],10 - Melt,Produce (Signature),NaN,2023-08-29,NaN,['Garforth and Swillington']
1083,86.0,NaN,359,2023-09-01,MELT Ensemble Rehearsals,['CLE - Youth Voice session'],10 - Melt: MELT Ensemble Rehearsals,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-08-31,NaN,NaN
1091,NaN,NaN,238,2023-09-04,Dress Rehearsal 2 - Ticketed,['CLE - Youth Voice session'],10 - Melt: Dress Rehearsal 2 - Ticketed,NaN,NaN,10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-09-04,NaN,NaN
1093,1338.0,NaN,241,2023-09-09,Melt (Run),['Public Event - Performance'],10 - Melt: Melt (Run),1542.0,['LS26 8AL'],10 - Melt,Produce (Signature),['Season 3 - Dreaming'],2023-09-05,"ev_2809632, ev_2809633, ev_2809634, ev_28096...",['Garforth and Swillington']

Run the processing and save the files

In [4]:
data = data.pipe(filter_public_events).pipe(prepare).pipe(save_files, OUT_DIR)

## Ticket processing

Extract the ticket data

In [5]:
ticket_sales = data.pipe(filter_public_events).pipe(ticket_helpers.get_tickets_for_event)
ticket_sales

,ticket_tailor_id,airtable_id,created_at,event_date,number_of_tickets,ward_code
0,ev_2809632,241,2023-07-11 21:55:42,2023-09-05,2,E05011402
1,ev_2809632,241,2023-07-13 13:29:16,2023-09-05,2,E05011402
2,ev_2809632,241,2023-07-14 18:21:57,2023-09-05,3,E05001372
3,ev_2809632,241,2023-07-17 11:10:07,2023-09-05,2,E05011403
4,ev_2809632,241,2023-07-17 16:39:03,2023-09-05,5,E05011390
...,...,...,...,...,...,...
715,ev_2809636,241,2023-09-08 11:43:24,2023-09-09,4,E05012841
716,ev_2809636,241,2023-09-08 15:24:13,2023-09-09,2,E05011413
717,ev_2809636,241,2023-09-08 15:58:49,2023-09-09,1,NaN
718,ev_2809636,241,2023-09-09 11:43:24,2023-09-09,2,E05011396
719,ev_2809636,241,2023-09-09 13:59:04,2023-09-09,1,E05013713

By Date

In [6]:
ticket_sales.pipe(ticket_helpers.summarise_by_ward)

           orders  tickets
ward_code
E05000798       1        7
E05000832       1        8
E05000836       1        4
E05000908       1        1
E05000936       1        1
...           ...      ...
E05014127       2        2
E05014156       1        3
S13002883       1        2
W05001144       1        2
W05001274       1        1

[170 rows x 2 columns]

By Ward

In [7]:
(
  ticket_sales
    .pipe(ticket_helpers.summarise_by_date)
    .resample('W-FRI').sum()
    .cumsum()
)

            orders  tickets
date
2023-07-14      26       60
2023-07-21      40       91
2023-07-28      60      130
2023-08-04      88      194
2023-08-11     123      274
2023-08-18     176      388
2023-08-25     280      619
2023-09-01     460     1002
2023-09-08     718     1498
2023-09-15     720     1501